src/main/mule/cicd-jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="994fc41b-5aca-41a3-a55c-73ba0600ebd9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-jenkinsFlow" doc:id="ccf59184-6e75-4f79-92f2-827c208bd2ed" >
		<http:listener doc:name="Listener" doc:id="e9a37cd8-ece7-4c33-9381-f90bd4af7d7b" config-ref="HTTP_Listener_config" path="/cicd" />
		<logger level="INFO" doc:name="Logger" doc:id="839c3280-d0ac-4582-ab98-cbe4a7aa2bdc" message="Request Recieved" />
		<set-payload value='#["Success"]' doc:name="Set Payload" doc:id="ac3bcb8d-0785-482f-9c23-8f1891e9c4e7" />
	</flow>
</mule>
